/acdc_data_preparation.py
/app.yaml
/config.py
/data_augmentation.py
/delete_input_nifty.py
/diagnosis.py
/estimator.py
/finalized_model.sav
/generate_cardiac_features_test.py
/hdf5_loader.py
/image_figure
/make_image.py
/network.py
/network_ops.py
/pyvenv.cfg
/qardiosis-key.json
/qardiosis_project.tar
/requirements.txt
/stage_1_diagnosis.py
/stage_2_diagnosis.py
/take_data_csv.py
/test.py
/testing
/test_api.py
/test_utils.py
/trained_models
/training_data
/utils.py
/utils_heart.py